@import url('https://fonts.googleapis.com/css?family=Righteous');

*:focus {
  outline: none;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-image: radial-gradient( #31297b, #212227 );
}

body:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: vectro_effect 0.067s infinite;
  background: repeating-linear-gradient(0deg, rgba(255,255,255,0.05) 0px, rgba(255,255,255,0.05) 1px, rgba(255,255,255,0) 1px, rgba(255,255,255,0) 2px);
}

#app {
  position: relative;
  z-index: 1;
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  overflow: hidden;
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.logo {
  margin: 0;
  margin-top: 50px;
  position: relative;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.1px #f1f1f1;
  font-family: 'Righteous', cursive;
  font-size: 80px;
}

.logo__body {
  -webkit-background-clip: text;
  background-image: -webkit-linear-gradient(#C3BFB4 0%, #FDFCFA 50%, #E8E7E5 51%, #757172 52%, #E8E9DB 100%);
  -webkit-filter: drop-shadow(2px 2px 15px #4036ad);
}

.grid {
  margin: auto;
  background: rgba(255, 255, 255, 0.1);
  transform: perspective(750px) rotateX(45deg);
}

.grid__tile {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-out
}

.grid__tile:hover {
  background: rgba(249, 57, 89, .5);
  cursor: crosshair;
}

.robot {
  background: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  color: rgb(67, 62, 117);
  border-radius: 1px;
  box-shadow: 0px 0px 0px 2px #d4d4d4;
}

.obstacle {
  background: #cf4066;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.description {
  text-align: center;
  color: rgb(236, 233, 229);
  font-family: monospace;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: justify;
  line-height: 2em;
}

.range {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}
